.main-wrapper{
    border: 1px solid red;
    display:flex;
    width: 100vw;
    min-height: 100vh ;
    justify-content: space-between;
}

.button-wrapper {
    flex: 2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    border:1px solid blue;
    justify-content: space-around;
}

.canvas-wrapper {
    flex: 6;
    border:1px solid green;
    max-height:100vh;
    overflow-y: hidden;
}

.input-wrapper{
    flex:3;
    border:1px solid purple;
}

.inside-canvas{
    border: 1px solid green;
    height: 100%;
    width: 100%;
}